body {
  background-color: #EEE;
}

svg {
  background-color: #FFF;
}

.overlay {
  fill: none;
  pointer-events: all;
  cursor: move;
}

.edge {
  stroke: #CCC;
  fill: transparent;
}

.vertex circle {
  stroke: #000;
  fill: #FFF;
}

.vertex text {
  pointer-events: none;
  fill: #444;
  font: 10px sans-serif;
}
