body {
  background-color: #EEE;
}

svg {
  background-color: #FFF;
}

.edge {
  stroke: #ccc;
}

.vertex circle {
  stroke: #000;
  fill: #FFF;
}

.vertex text {
  pointer-events: none;
  fill: #444;
  font: 10px sans-serif;
}
